nav{
    display: flex;
    background-color: red;
    justify-content: center;
    gap: 300px;
    height: 35px;
    justify-content: space-around;
    padding-top: 10px;
    color: black;
    font-display: block;
    font-weight: bold;
}

.active {
  color: green;
  font-weight: bold;
}